* {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    color: gold;
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    margin: 25px;
}

h1 {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 25px;
}

nav {
    height: 75px;
}

ul {
    display: flex;
    padding-bottom: 10px;
    list-style-type: none;
    justify-content: space-around;
}

li {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    padding: 25px;
    margin-right: 20px;
}

nav a {
    background-color: black;
}

nav a:hover {
    color: white;
    box-shadow: inset 0px 0px 8px 0px gold, 0 0 15px gold;
    border-radius: 15px;
}

nav a:active {
    font-size: 15px;
}

#background {
    padding-top: 5px;
    width: 100%;
}

.banner {
    position: relative;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 8px;
}

.myportfolio {
    position: absolute;
    left: 25px;
    bottom: 150px;
    font-weight: bold;
    font-size: 40px;
    color: aliceblue;
    text-shadow: black;

}

main {
    display: flex;
}

.aside1 {
    display: flex;
    background-color: black;
    color: gold;
    border-radius: 8px;
    margin: 25px;
    height: 125px;
    padding: 50px;
    width: 15%;
}

#me {
    display: flex;
    justify-content: end;
    flex: 1;
    padding-right: 20px;
    padding-top: 10px;
}

#selfie {
    display: flex;
    width: 200px;
    height: 150px;
    padding-left: 10px;
}

.story {
    padding: 20px;
    border-radius: 8px;
    width: 85%;
    display: flex;
    align-items: center;
}

.desc {
    background-color: black;
    color: gold;
    padding: 50px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 350;
    display: flex;
    justify-content: center;
    height: 125px;
}

.contactinfo {
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-radius: 8px;
    font-size: 20px;
    margin: 25px;
    width: 85%;
}

#contact {
    display: flex;
    background-color: black;
    color: gold;
    height: 125px;
    border-radius: 8px;
}

a:any-link {
    color: gold;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    h1,
    nav,
    ul,
    li, 
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
