* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: gold;
    background-color: black;
    border-radius: 8px;
}

h1 {
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

nav {
    border-radius: 6px;
}

ul {
    display: flex;
    padding-bottom: 10px;
    list-style-type: none;
    justify-content: space-around;
}

li {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    background-color: black;
}

nav a:hover {
    color: white;
    box-shadow: inset 0px 0px 8px 0px gold, 0 0 15px gold;
    border-radius: 15px;
}

nav a:active {
    font-size: 15px;
}

#background {
    border: none;
}

.myportfolio {
    font-weight: bold;
    font-size: 40px;
    color: aliceblue;
}

section {
    background-color: black;
    color: gold;
    font-size: 20px;
}

.me {
    background-color: black;
}

.desc {
    background-color: black;
    color: gold;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 350;
}

.main-header {
    background-color: black;
    color: gold;
}

.contactinfo {
    background-color: black;
    border-radius: 8px;
    font-size: 20px;
}

.workdone {
    font-size: 20px;
}


a:any-link {
    color: gold;
    text-decoration: none;
}

#selfie {
    max-width: 10%;
}

/* @media screen and (max-width: 768px) {
    body,
    h1,
    nav,
    ul,
    li, 
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} */